{{define "content"}}
<link rel="stylesheet" href="/static/css/components/TemplateList.css">
<link rel="stylesheet" href="/static/css/components/SaveTemplateModal.css">
<link rel="stylesheet" href="/static/css/components/EditTemplateModal.css">
<link rel="stylesheet" href="/static/css/components/DeleteTemplateDialog.css">
<div class="mix-templates page-container">
  <div class="page-header">
    <h1 class="page-title">Mix Templates</h1>
    <button type="button" class="btn btn-primary btn-small"
      hx-get="/mix-templates/new" hx-target="#modal-root" hx-swap="innerHTML">
      New Template
    </button>
  </div>

  <div id="mix-templates-list" hx-get="/mix-templates/list" hx-trigger="load" hx-swap="innerHTML"></div>
</div>
{{end}}
